/* Style Sheet -- Eri & Co. */
body{
    background-color: #7BCCB5;
    }
div.banner{
    background-color: #7BCCB5; 
    height: 200px; 
    width: 1050px; 
    line-height: 200px; 
    text-align: center; 
    font-weight: bolder; 
    font-size: 150px; 
    color: #C77F77; 
    margin: 0 auto;
    }

div.navwrap{
    background-color: #C77F77; 
    height: 50px; 
    width: 1050px; 
    margin:0 auto;
    }

div.navbutton {
    height: 50px; 
    width: 210px; 
    text-align: center; 
    line-height: 50px; 
    font-weight: bolder; 
    color: #F3E5AB; 
    float: left;
    }

div.navbutton:hover{
    background-color: #772F27;
    cursor: pointer;
    }

div.conwrap{
    height: 3000px; 
    width: 1050px; 
    margin: 0 auto; 
    background-color: #C77F77;
    }

div.leftnavbar{
    height: 3000px; 
    width: 210px; 
    background-color: #C77F77; 
    float: left;
    }

div.avatar{
    <img src="avatar-generic.png" alt="user image">
    }

div.content{
    height: 3000px; 
    width: 839px; 
    background-color: #FFF8DC; 
    float: left;
    }